body{
    background-color: #1e1e2f;
    color: white;
    font-family: 'Gotu', sans-serif;


}
*{
    margin: 0;
    padding: 0;
}

/* ScrollBar */

/* width */
                ::-webkit-scrollbar {
					width: 5px;
				}

				/* Track */
				::-webkit-scrollbar-track {
					box-shadow: inset 0 0 5px grey; 
					border-radius: 10px;
				}

				/* Handle */
				::-webkit-scrollbar-thumb {
					background: #0000001f; 
					border-radius: 10px;
				}

				/* Handle on hover */
				::-webkit-scrollbar-thumb:hover {
					background: #7f8197; 
				}
    

.small{
    background-color: #27293d;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    padding: 25px;
    margin: 20px;
    text-align: center;
}
.tablecontent{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}
.tablecontent:hover{
    background-color: black;
}

#myChart{
    background-color: #27293d;
    padding: 60px;
    color: green;
    cursor: pointer;
}

/* Responseive queries */
@media(max-width:990px){
    canvas{
        margin-top: 60px;
    }
}